[submodule "TTM/libs/openpose"]
	path = TTM/libs/openpose
	url = https://github.com/CMU-Perceptual-Computing-Lab/openpose.git
[submodule "TTM/data/TTM-data"]
	path = TTM/data/TTM-data
	url = git@github.com:russelldj/TTM-data.git
[submodule "TTM/libs/DaSiamRPN"]
	path = TTM/libs/DaSiamRPN
	url = git@github.com:russelldj/DaSiamRPN.git
[submodule "TTM/libs/ubelt"]
	path = TTM/libs/ubelt
	url = git@github.com:russelldj/ubelt.git
